
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




@media (min-width: 0px) {
    .col-xs{
         width: 100%;
        display: flex;
    }
    .col-xs-6{
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
    }
    .a-contacto{
        width: 100%;
    }
    .contacto-design1{
        display: none;
    }
    .contacto-design2{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 80%;
    }
    .link-contacto{
        height: 2rem;
        justify-content: center;
    }
    .list-design-xs{
        display: flex;
        text-align: center;
        
    }
    .img-design-xs{
        width: 3rem;
        text-align: center;
        padding-top: 0.75rem;
    }
    
    .portafolio-header{
        display: flex;
        text-align: start;
        flex-direction: column;
        padding: 1rem;
    }
}
@media (min-width: 578px){
    .col-sm{
        width: 50%;
        display: flex; 
        flex-direction: column;
        padding: 1rem;  
    }
    .col-sm-12{
        width: 100%;
        flex-direction: row;
    }
    .col-sm-6{
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
    }
    .col-sm-grid{
        display: grid;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .col-sm-flex{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .design-2{
        margin-bottom: 1rem;
    }
    .design-sm{
        width: 75%;
    }
    .list-design2{
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
    .design{
        padding: 1rem;
    }
    .div-habilidades{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
   .habilidades-content{
       width: 50%;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
   .experience-table-sm{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }
   
   .image-design{
       width: 100%;
   }
   .contacto-design2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
   }
   .link-contacto{
       text-align: center;
   }
   .contacto-last{
       width: 50%;
   }
   .contacto-sm-pad{
       padding-top: 1rem;
   }
   .contact-content-left{
       display: flex;
       justify-content: flex-end;
   }
   .contact-content-right{
       display: flex;
       justify-content: flex-start;
   }
}
    

@media (min-width: 768px){
    
    
    .col-md{
        display: flex;
        flex-wrap: wrap;
    }
    .col-md-12{
        width: 100%;
    }
    .col-md-3{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        
    }
    .portafolio-header{
        display: flex;
        text-align: start;
        padding-left: 2rem;
        flex-direction: row;
    }
    .contact-header{
        display: flex;
        text-align: start;
        padding-left: 2rem;
    }
    .col-md-6{
        display: flex;
        width: 50%;    
    }
    .col-md-12{
        width: 100%;
        flex-direction: row;
    }
    .contacto-design2{
        display: none;
    }
    .a-contacto{
        width: 7rem;
        height: 2rem;
        text-align: center;
    }
    .contacto-design1{
        display: flex;
    }
    #ul-nav li{
        display: inline-block;
        margin-left: 1rem;
    }
    #ul-nav{
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
        padding: 0;
    }
    nav button{
        display: none;
    }
    nav a{
        color: #423f40;
    }
 
   
    .image-design{
        width: 100%;
    }
    .design{
        justify-content: space-around;
    }
    .habilidades-content{
        width: 25%;
        flex-direction: row;
        text-align: center;
    }
    .img-design-md{
        width: 1rem;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-habilidades{
        text-align: center;
    }
    .col-experience-md{
        text-align: center;
    }
    
}
@media (min-width: 992px){
    #ul-nav li{
        margin-left: 3rem;
    }
}
@media (min-width: 1200px){
    .col-xl{
        display: flex;
        flex-wrap: wrap;
    }
    .col-xl-12{
        width: 100%;
    }
    .col-xl-6{
        width: 50%;
    }
    .div-experience{
        margin-bottom: 3rem;
    }
    .portafolio{
        padding-left: 1rem;
    }
    .contacto-cl-xl{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .card-first-xl{
        padding-left: 20%;
    }
    .card-last-xl{
        padding-right: 30%;
    }
    #ul-nav li{
        margin-left: 5rem;
    }
}
@media (min-width: 1400px){}