*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body{
  margin-top: 3rem;
  font-size: 1em;
  
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

a{
    text-decoration: none;
    color: #222222;
}

ul{
    list-style: none;
}

.header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px gray;
    position: sticky;
    top: 0;
    width: 100%;
}
.logo{
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 20px;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #222222;
    overflow: hidden;
    text-align: right;
}

.menu a{
    display: block;
    padding: 30px;
    color: white;
    text-align: right;
}

.menu a:hover{
    background-color: gray;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
    text-align: right;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    position: relative;
    left: 100%;
}

.hamb-line{
    background: #FCDA68;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before, .hamb-line::after{
    background: #FCDA68;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu{
    display: none;
    text-align: right;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line{
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}
.design{
    
   justify-content: space-between;
   margin-bottom: 5%;
}
.a-contacto{
    border: 1px solid white;
    background-color: #8e7bef;
    height: 30%;
    color: white;

}
.lorem{
    color: #423f40;
}
.color-tit{
    color: #222222;
}
.experience{
    background-color: #FCDA68;
    margin-bottom: 10%;
    padding: 0.5rem;
}
.experience-color{
    background-color: #FCDA68;
}
.table-list{
    border-collapse: collapse;
    
}
td{
    border-bottom: 1px solid #423f40;

}
.div-experience{
    margin-bottom: 10%;
    background-color: #FCDA68;
}
h1, h2{
    color: #222222;
}
.portafolio{
    margin-bottom: 10%;
}
#Portafolio-id p{
    margin-bottom: 5%;
    color: #8e7bef;
}
#Contacto-id h2{
    margin-bottom: 10%;
}
.contacto-cl{
    padding-left: 10%;
}
.contacto-first{
    color: #222222;
}
.contacto-second{
    color: #b9b3ae;
}
tr, td{
    padding: 1rem;
}
.back-list{
    background-color: #8e7bef;
    border-radius: 50%;
    margin: 0.5rem;
    width: 15%;
    height: 3rem;
    justify-content: center
}
.link-contacto{
    height: 2rem;
    justify-content: center;
}
.back-contact{
    background-color: #f9f5f2;
    border-radius: 0.5rem;
    text-align: center;
    width: 7rem;
}

.back-contact-img{
    padding: 0.75rem;
}
.card-last{
    margin-right: 4rem;
}
.card-first{
    margin-left: 2rem;
}